body{
    background-image: url(../images/fondoMusic.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.contenedor-form{
    margin: 20px;
}

.text-enlace{
    color: white;
    text-decoration-line: none;
}

.text-enlace:hover{
    color: white;
}

.container-login{
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px;
}

.form-control{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
}

.form-control::placeholder{
    color: white;
}

.form-control:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.form-control:focus{
    background: none;
}

.btn-form{
    background-color: rgb(204, 233, 244,0.5);
    color: white;
    font-weight: bold;
    border-radius: 0px;

}

.btn-form:hover{
    background-color: rgb(204, 233, 244,0.4) !important;
}

.textOvide{
    font-size: 16px ;
    margin-right: 20px;
}

.btn-Registrar{
    padding: 10px;
    background-color: rgb(204, 233, 244,0.4);
    border: 2px solid white;
}